body {
    margin: 0;
    min-width: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

.header {
    font-size: 2.5rem;
    padding: 1rem;
    background-color: #4F58DF;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;

}


#board {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 10px;
    background-color: #F5DEB3;
    border: 1px solid #8B4513;
    margin: auto;
}
.row {
    display: flex;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8B4513;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.cell span {
    display: block;
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.cell span.black {
    background: radial-gradient(circle, #000000, #404040, #000000);
}

.cell span.white {
    background: radial-gradient(circle, #FFFFFF, #D3D3D3, #FFFFFF);
}

#reset {
    display: block;
    margin: 20px auto;
}

#turn {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-top: 1em;
    text-align: center;
    text-shadow: 1px 1px 2px #888;
}

#message {
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-top: 1em;
    text-align: center;
    text-shadow: 1px 1px 2px #888;
}