body {
    margin: 0;
    min-width: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}

.header {
    font-size: 2.5rem;
    padding: 1rem;
    background-color: #4F58DF;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;

}

.main {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cell {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid black;
    text-align: center;
    user-select: none;
}

.cell:empty:hover {
    background-color: #eee;
}

.cell:before {
    content: "";
    display: inline-block;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    margin: auto;
}

.cell.B:before {
    background-color: black;
}

.cell.W:before {
    background-color: white;
}